@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@import "~normalize.css/normalize.css";
@import "~animate.css/animate.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', Helvetica, "Helvetica Neue", Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

@import "section";
@import "footer";
@import "nav";
