.footer {
  .footer__logos {
    background-color: #ffffff;
    padding: 30px;

    border-bottom: 2px solid #EEEEEE;

    img {
      display: inline-block;
      height: 60px;
      margin-right: 20px;
    }
  }

  .footer__info {
    padding: 10px;

    background-color: #EEEEEE;
    color: #000000;

    font-size: 0.7rem;
    text-align: center;

    ul {
      list-style-type: none;
    }
  }

  .footer__students {
    padding: 20px 40px;

    .student {
      .student__name {
        font-weight: bold;
      }

      .student__role {
        font-style: italic;
      }

      .student__description {
        margin-top: 15px;
      }

      margin: 20px 0;
    }
  }
}