.nav {
  position: fixed;

  right: 15px;
  top: 0;
  bottom: 0;

  display: flex;

  height: 100%;

  .nav__inner {
    margin: auto;
  }

  z-index: 9999;

  text-align: right;

  a {
    color: #898989;
    text-decoration: none;
    font-weight: bold;
  }
  text-transform: uppercase;


  .nav__entry {
    margin-bottom: 10px;
  }
  .nav__bullet {
    background-color: #ffffff;
    border-radius: 20px;
    width: 13px;
    height: 13px;
    display: inline-block;
    margin-left: 20px;
  }

  .nav__text {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav__entry:hover {
    .nav__text {
      opacity: 1;
    }
  }
}