.wrapper {
  position: relative;
  background-color: #161b2a;
  color: #ffffff;
}

// sections

.section {
  position: relative;
  height: 100vh;

  padding: 40px;

  .section__inner {
    position: relative;
    height: 100%;

    background-color: #ffffff;
    color: #000000;

    padding: 50px;

    animation-duration: 0.5s;
  }

  .section__title {
    margin: 0;
    margin-bottom: 10px;

    text-transform: uppercase;
  }

  .section__subtitle {
    font-style: italic;
  }

  h2 {
    color: #7e1219;

    margin: 20px 0;
  }

  &.section--auto {
    height: auto;
  }
}

// home title

.title {
  margin: auto;
  text-transform: uppercase;

  .title__1 {
    font-size: 3rem;
    font-weight: normal;
  }

  .title__2 {
    display: block;

    font-size: 10rem;
    font-weight: bold;
  }
}

// home

.section--home .section__inner {
  display: flex;
  background: none;
  color: #ffffff;
}


.scroll-arrow {
  position: absolute;
  display: flex;

  bottom: 0;
  left: 0;
  right: 0;

  color: #ffffff;

  svg {
    width: 64px;
    height: 64px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .section {
    height: auto;
  }

  .title {
    .title__1 {
      font-size: 1.5rem;
    }

    .title__2 {
      font-size: 3rem;
    }
  }

  .scroll-arrow {
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.question {
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.answer {
  display: block;
  margin-bottom: 20px;
}

@import "sections/job";
